<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
		{%- include nav.html -%}
    
<div class="container">
<main class="front-content" aria-label="Content">
  <div class="wrapper">
  
<article>
  <h1>GirihTiles.org</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span>: <a href="{{ site.url }}/girihtilesorg{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</article> 

</div>

</main>
    </div>
    
    {%- include footer.html -%}

  </body>

</html>
